ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.photo-btn{
    position: relative;
    bottom: 25px;
}

h2{
    margin-bottom: 0;
}


ion-item{
    padding-top: 15px;
}

.empty-icon{
    font-size: 120px;
    opacity: 30%;
}